:root {
  --primaryColour: rgb(85, 85, 85); 
  --secondaryColour: rgb(220, 226, 141);
  
  --inputBackground: rgba(210, 210, 210, 0.106);

  --ui-submit: rgb(0, 84, 180);

  --popupSuccess: green;
  --popupWarning: orange;
  --popupError: red;
}